Repository SOPT-all/35-COLLABORATION-ANDROID-MARKETKURLY, pull requests merged in 2024-11, with the labels that each got.

#2 [SETTING/#1] 프로젝트 기초 세팅
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/market_kurly/MainActivity.kt
  app/src/main/java/com/example/market_kurly/MarketKurlyApplication.kt
  app/src/main/java/com/example/market_kurly/core/base/BaseViewModelFactory.kt
  app/src/main/java/com/example/market_kurly/core/designsystem/component/ExampleComponent.kt
  app/src/main/java/com/example/market_kurly/core/util/KeyStorage.kt
  app/src/main/java/com/example/market_kurly/core/util/context/ContextExt.kt
  app/src/main/java/com/example/market_kurly/core/util/modifier/ModifierExt.kt
  app/src/main/java/com/example/market_kurly/core/util/view/UiState.kt
  app/src/main/java/com/example/market_kurly/data/ApiFactory.kt
  app/src/main/java/com/example/market_kurly/data/dto/base/BaseResponse.kt
  app/src/main/java/com/example/market_kurly/data/dto/request/RequestExampleDto.kt
  app/src/main/java/com/example/market_kurly/data/dto/response/ResponseExampleDto.kt
  app/src/main/java/com/example/market_kurly/data/service/ExampleService.kt
  app/src/main/java/com/example/market_kurly/domain/repository/ExampleRepository.kt
  app/src/main/java/com/example/market_kurly/domain/repositoryimpl/ExampleRepositoryImpl.kt
  app/src/main/java/com/example/market_kurly/feature/ExampleViewModel.kt
  app/src/main/java/com/example/market_kurly/feature/MainActivity.kt
  app/src/main/java/com/example/market_kurly/feature/goods/GoodsScreen.kt
  app/src/main/java/com/example/market_kurly/feature/home/HomeScreen.kt
  app/src/main/java/com/example/market_kurly/feature/nav/NavGraph.kt
  app/src/main/java/com/example/market_kurly/feature/review/ReviewScreen.kt
  app/src/main/java/com/example/market_kurly/feature/wishlist/WishListScreen.kt
  app/src/main/java/com/example/market_kurly/ui/theme/Type.kt
  app/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: 🐱 윤서, ⚙️ [SETTING]

#6 [Feat/#3] Goods 뷰 구현, 공통 컴포넌트 구현
  app/build.gradle.kts
  app/src/androidTest/java/com/example/market_kurly/ExampleInstrumentedTest.kt
  app/src/main/java/com/example/market_kurly/MarketKurlyApplication.kt
  app/src/main/java/com/example/market_kurly/core/base/BaseViewModelFactory.kt
  app/src/main/java/com/example/market_kurly/core/designsystem/component/ExampleComponent.kt
  app/src/main/java/com/example/market_kurly/core/designsystem/component/KurlyGoodsDetailBottomBar.kt
  app/src/main/java/com/example/market_kurly/core/designsystem/component/KurlyGoodsDetailTopBar.kt
  app/src/main/java/com/example/market_kurly/core/dummymodel/AlsoViewedData.kt
  app/src/main/java/com/example/market_kurly/core/dummymodel/GoodsDetailData.kt
  app/src/main/java/com/example/market_kurly/core/dummymodel/GoodsUiData.kt
  app/src/main/java/com/example/market_kurly/core/util/KeyStorage.kt
  app/src/main/java/com/example/market_kurly/core/util/context/ContextExt.kt
  app/src/main/java/com/example/market_kurly/core/util/interactionsource/InteractionSourceExt.kt
  app/src/main/java/com/example/market_kurly/core/util/modifier/ModifierExt.kt
  app/src/main/java/com/example/market_kurly/core/util/price/CalculateDiscountWithFloor.kt
  app/src/main/java/com/example/market_kurly/core/util/price/DecimalFormater.kt
  app/src/main/java/com/example/market_kurly/core/util/view/UiState.kt
  app/src/main/java/com/example/market_kurly/data/ApiFactory.kt
  app/src/main/java/com/example/market_kurly/data/dto/response/ResponseExampleDto.kt
  app/src/main/java/com/example/market_kurly/data/service/ExampleService.kt
  app/src/main/java/com/example/market_kurly/domain/repository/ExampleRepository.kt
  app/src/main/java/com/example/market_kurly/domain/repository/GoodsRepository.kt
  app/src/main/java/com/example/market_kurly/domain/repositoryimpl/ExampleRepositoryImpl.kt
  app/src/main/java/com/example/market_kurly/domain/repositoryimpl/GoodsRepositoryImpl.kt
  app/src/main/java/com/example/market_kurly/feature/ExampleViewModel.kt
  app/src/main/java/com/example/market_kurly/feature/MainActivity.kt
  app/src/main/java/com/example/market_kurly/feature/goods/GoodsScreen.kt
  app/src/main/java/com/example/market_kurly/feature/goods/component/KurlyGoodsAlsoViewedColumnItem.kt
  app/src/main/java/com/example/market_kurly/feature/goods/component/KurlyGoodsInfoText.kt
  app/src/main/java/com/example/market_kurly/feature/goods/component/KurlyGoodsMembershipToggleButton.kt
  app/src/main/java/com/example/market_kurly/feature/goods/state/GoodsState.kt
  app/src/main/java/com/example/market_kurly/feature/goods/viewmodel/GoodsViewModel.kt
  app/src/main/java/com/example/market_kurly/feature/home/HomeScreen.kt
  app/src/main/java/com/example/market_kurly/feature/nav/NavGraph.kt
  app/src/main/java/com/example/market_kurly/feature/review/ReviewScreen.kt
  app/src/main/java/com/example/market_kurly/feature/wishlist/WishListScreen.kt
  app/src/main/java/com/example/market_kurly/ui/theme/Color.kt
  app/src/main/java/com/example/market_kurly/ui/theme/Theme.kt
  app/src/main/java/com/example/market_kurly/ui/theme/Type.kt
  app/src/main/res/drawable/icn_arrow_left.xml
  app/src/main/res/drawable/icn_cart_large.xml
  app/src/main/res/drawable/icn_favorite_activate.xml
  app/src/main/res/drawable/icn_favorite_default.xml
  app/src/main/res/drawable/icn_goods_arrow_down.xml
  app/src/main/res/drawable/icn_goods_arrow_right.xml
  app/src/main/res/drawable/icn_goods_arrow_up.xml
  app/src/main/res/drawable/icn_goods_info.xml
  app/src/main/res/drawable/icn_goods_members.xml
  app/src/main/res/drawable/icn_goods_nextgoods.xml
  app/src/main/res/drawable/icn_goods_share.xml
  app/src/main/res/drawable/icon_cart_small.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/com/example/market_kurly/ExampleUnitTest.kt
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 🐰 지현, 💜 [UI]

#8 [FEAT/#4] Review 뷰, WishList 뷰 구현
  app/build.gradle.kts
  app/src/main/java/com/example/market_kurly/core/util/KeyStorage.kt
  app/src/main/java/com/example/market_kurly/core/util/color/DropDownMenuTextColor.kt
  app/src/main/java/com/example/market_kurly/data/dto/request/RequestExampleDto.kt
  app/src/main/java/com/example/market_kurly/data/dummy/ReviewData.kt
  app/src/main/java/com/example/market_kurly/data/dummy/WishListItem.kt
  app/src/main/java/com/example/market_kurly/domain/model/SignUpModel.kt
  app/src/main/java/com/example/market_kurly/domain/repository/ExampleRepository.kt
  app/src/main/java/com/example/market_kurly/domain/repositoryimpl/ExampleRepositoryImpl.kt
  app/src/main/java/com/example/market_kurly/feature/ExampleViewModel.kt
  app/src/main/java/com/example/market_kurly/feature/review/ReviewScreen.kt
  app/src/main/java/com/example/market_kurly/feature/review/ReviewViewModel.kt
  app/src/main/java/com/example/market_kurly/feature/review/component/ReviewFilteringBar.kt
  app/src/main/java/com/example/market_kurly/feature/review/component/ReviewImageRow.kt
  app/src/main/java/com/example/market_kurly/feature/review/component/ReviewItem.kt
  app/src/main/java/com/example/market_kurly/feature/review/component/ReviewNoticeItem.kt
  app/src/main/java/com/example/market_kurly/feature/review/state/ReviewState.kt
  app/src/main/java/com/example/market_kurly/feature/wishlist/WishListScreen.kt
  app/src/main/java/com/example/market_kurly/feature/wishlist/WishListViewModel.kt
  app/src/main/java/com/example/market_kurly/feature/wishlist/component/WishListFilteringTab.kt
  app/src/main/java/com/example/market_kurly/feature/wishlist/component/WishListProduct.kt
  app/src/main/java/com/example/market_kurly/feature/wishlist/component/WishListTopBar.kt
  app/src/main/res/drawable/ic_arrow_left.xml
  app/src/main/res/drawable/ic_btn_add_to_cart.xml
  app/src/main/res/drawable/ic_cart_icon.xml
  app/src/main/res/drawable/ic_notification_icon.xml
  app/src/main/res/drawable/ic_review_advertisement.xml
  app/src/main/res/drawable/ic_review_drop_down_expanded_arrow.xml
  app/src/main/res/drawable/ic_review_drop_down_folded_arrow.xml
  app/src/main/res/drawable/ic_review_notice.xml
  app/src/main/res/values/strings.xml
Labels: ⭐ [FEAT], 🐱 윤서, 💜 [UI]

#7 [Feat/#5] Home 뷰 구현, 공통 컴포넌트 구현
  .idea/deploymentTargetSelector.xml
  .idea/gradle.xml
  .idea/misc.xml
  app/build.gradle.kts
  app/src/main/java/com/example/market_kurly/feature/home/HomeScreen.kt
  app/src/main/java/com/example/market_kurly/feature/home/NavItem.kt
  app/src/main/java/com/example/market_kurly/feature/home/ProductItem.kt
  app/src/main/java/com/example/market_kurly/feature/home/TagItem.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/AsyncImageFillWidth.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeBannerRow.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeBottomNav.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeNavItem.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeProduct.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeProductRow.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeProductTitle.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomePutInButton.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeRankingProduct.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeRankingProductRow.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeTagItem.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeTagItemRow.kt
  app/src/main/java/com/example/market_kurly/feature/home/component/HomeTopBar.kt
  app/src/main/java/com/example/market_kurly/feature/home/dummy/BannerDummy.kt
  app/src/main/java/com/example/market_kurly/feature/home/dummy/HomeScreenData.kt
  app/src/main/java/com/example/market_kurly/feature/home/dummy/ProductDummy.kt
  app/src/main/java/com/example/market_kurly/feature/home/dummy/RankingProductDummy.kt
  app/src/main/res/drawable/ic_home_arrow_right.xml
  app/src/main/res/drawable/ic_home_cart.xml
  app/src/main/res/drawable/ic_home_cart_18.xml
  app/src/main/res/drawable/ic_home_fashion.xml
  app/src/main/res/drawable/ic_home_homeliving.xml
  app/src/main/res/drawable/ic_home_kurlycurator.xml
  app/src/main/res/drawable/ic_home_kurlymembers.xml
  app/src/main/res/drawable/ic_home_livecommerce.xml
  app/src/main/res/drawable/ic_home_lowestprice.xml
  app/src/main/res/drawable/ic_home_luck.xml
  app/src/main/res/drawable/ic_home_members.xml
  app/src/main/res/drawable/ic_home_mykurlyfarm.xml
  app/src/main/res/drawable/ic_home_nav_category.xml
  app/src/main/res/drawable/ic_home_nav_home.xml
  app/src/main/res/drawable/ic_home_nav_lounge.xml
  app/src/main/res/drawable/ic_home_nav_mykurly.xml
  app/src/main/res/drawable/ic_home_nav_search.xml
  app/src/main/res/drawable/ic_home_notification.xml
  app/src/main/res/drawable/ic_home_present.xml
  app/src/main/res/drawable/ic_home_review.xml
  app/src/main/res/drawable/ic_home_showcase.xml
  app/src/main/res/drawable/ic_home_todaytarot.xml
  app/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ⭐ [FEAT], 🐶 세홍, 💜 [UI]

#14 [ HOTFIX/#13] 더미 이미지 추가
  app/src/main/res/mipmap-hdpi/img_home_banner_dummy.png
  app/src/main/res/mipmap-hdpi/img_home_center_banner_dummy.png
  app/src/main/res/mipmap-hdpi/img_home_logo.png
  app/src/main/res/mipmap-hdpi/img_home_product_dummy.png
  app/src/main/res/mipmap-hdpi/img_home_ranking_product_dummy.png
  app/src/main/res/mipmap-mdpi/img_home_banner_dummy.png
  app/src/main/res/mipmap-mdpi/img_home_center_banner_dummy.png
  app/src/main/res/mipmap-mdpi/img_home_logo.png
  app/src/main/res/mipmap-mdpi/img_home_product_dummy.png
  app/src/main/res/mipmap-mdpi/img_home_ranking_product_dummy.png
  app/src/main/res/mipmap-xhdpi/img_home_banner_dummy.png
  app/src/main/res/mipmap-xhdpi/img_home_center_banner_dummy.png
  app/src/main/res/mipmap-xhdpi/img_home_logo.png
  app/src/main/res/mipmap-xhdpi/img_home_product_dummy.png
  app/src/main/res/mipmap-xhdpi/img_home_ranking_product_dummy.png
  app/src/main/res/mipmap-xxhdpi/img_home_banner_dummy.png
  app/src/main/res/mipmap-xxhdpi/img_home_center_banner_dummy.png
  app/src/main/res/mipmap-xxhdpi/img_home_logo.png
  app/src/main/res/mipmap-xxhdpi/img_home_product_dummy.png
  app/src/main/res/mipmap-xxhdpi/img_home_ranking_product_dummy.png
  app/src/main/res/mipmap-xxxhdpi/img_home_banner_dummy.png
  app/src/main/res/mipmap-xxxhdpi/img_home_center_banner_dummy.png
  app/src/main/res/mipmap-xxxhdpi/img_home_logo.png
  app/src/main/res/mipmap-xxxhdpi/img_home_product_dummy.png
  app/src/main/res/mipmap-xxxhdpi/img_home_ranking_product_dummy.png
Labels: 🐶 세홍, 😮 [HOTFIX]
